<h1>Order</h1>

<!--<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %> -->
<div class="redmaple_form"> 
    <fieldset>
        <legend>Please Enter Your Details</legend>
        <%= render 'form', order: @order %> 
    </fieldset>
</div>

